#copyright{
  background-color: #191919;
}

.copy_text{
  border-top: 1px solid #666666;
  padding: 17px 0;
  text-align: center;
}

.copy_text p{
  font-size: 20px;
  font-weight: 400;
  font-family: 'Barlow Condensed', sans-serif;
  color: white;
}
.copy_text a{
  color: #FF4655;
}