#project {
    padding-top: 125px;

    .project_head {
        h2 {
            font-weight: 600;
            font-size: 48px;
            color: black;
        }

        p {
            text-align: right;
            display: block;
            font-weight: 500;
            font-size: 16px;
            margin-top: -30px;
            cursor: pointer;
            transition: all linear 0.5s;

            &:hover {
                color: red;
            }
        }
    }

    .project_img {
        margin-top: 60px;
        position: relative;
        overflow: hidden;

        &:hover .project_bg {
            opacity: 1;
            height: 100%;

        }

        img {
            vertical-align: middle;
            transition: all linear 0.5s;

            &:hover {
                transform: scale(1.2);
            }
        }

        .project_bg {
            background: linear-gradient(329.39deg, #1C1E53 -10.96%, rgba(28, 30, 83, 0.42) 103.96%);
            position: absolute;
            top: 0px;
            left: 0px;
            height: 0%;
            width: 50%;
            text-align: center;
            opacity: 0;
            overflow: hidden;
            transition: all linear 0.5s;
            text-align: left;

            h3 {
                padding-top: 280px;
                top: 300px;
                font-weight: 600;
                font-size: 24px;
                color: white;

            }

            p {
                font-weight: 500;
                font-size: 16px;
                color: white;
                padding: 25px 0;

            }

            a {
                font-weight: 500;
                font-size: 16px;
                color: yellow;
            }
        }

    }

    .project_img2 {
        overflow: hidden;
        position: relative;
        margin-top: 60px;
        transition: all linear 0.5s;

        &:hover {
            transform: scale(1.02);
        }

        &:hover .project_img_bg1 {
            height: 100%;
            opacity: 1;
            transform: scale(1.2);
        }

        .project_img_bg1 {
            position: absolute;
            background: linear-gradient(329.39deg, #1C1E53 -10.96%, rgba(28, 30, 83, 0.42) 103.96%);
            height: 0%;
            width: 100%;
            top: 0;
            left: 0;
            text-align: center;
            transition: all linear 0.5s;
            opacity: 0;

            h4 {
                font-weight: 600;
                font-size: 24px;
                color: white;
                padding-top: 132px;
                padding-bottom: 25px;
            }

            p {
                font-weight: 500;
                font-size: 16px;
                color: yellow;
            }
        }
    }

    .projectmatgain {
        margin-top: 34px;
    }
}